.animated-link {
    width: 320px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 120px;
    margin: 8rem auto 0;
    transition-duration: .5s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px 3px $secondary-color;
        transition-duration: .5s;
    }

    .gradient {
        position: absolute;
        width: 320px;
        height: 320px;
        background: $gradient;
        animation: o-rotate-360 linear 4s infinite;
    }

    .link {
        width: 310px;
        height: 70px;
        position: absolute;
        background: $dark-color;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 70px;
        color: $white-color;
        text-decoration: none;
    }
}

@keyframes o-rotate-360 {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}