$primary-color: #c4539f;
$primary-color-darker: #9d427f;
$secondary-color: #00aeef;
$secondary-color-darker: #008bbf;

$dark-color: #000000;
$white-color: #ffffff;

$primary-font: 'WarowniaUlt', helvetica;
$secondary-font: 'Varela Round', sans-serif;

$gradient: linear-gradient(45deg, $secondary-color, $primary-color);

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@font-face {
    font-family: "WarowniaUlt";
    src: local("WarowniaUlt"), url("../fonts/WarowniaUlt.otf") format("truetype");
}

@import 'Layout';
@import 'PageDecorations';
@import 'Navigation';
@import 'PageIndicator';
@import 'Section';
@import 'AnimatedLink';
@import 'Footer';
@import 'Tabs';

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: $primary-font;
}

a, p, b {
    font-family: $secondary-font;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

h5 {
    font-size: 1rem;
    font-weight: 300;
}

a {
    font-size: 1.5rem;
    font-weight: 600;
}

p, b {
    font-size: 1.5rem;
    font-weight: 500;
}

.app {
    width: 100vw;
    background-color: black;
}

.text-primary {
    color: $primary-color;
}

.text-secondary {
    color: $secondary-color;
}

::-webkit-scrollbar {
    width: 16px;
    background: $dark-color;
    border-radius: 16px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px $white-color;
}

::-webkit-scrollbar-thumb {
    background: $gradient;
    border-radius: 16px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    h3 {
        font-size: 1rem;
        font-weight: 500;
    }

    h4 {
        font-size: 1rem;
        font-weight: 400;
    }

    h5 {
        font-size: 1rem;
        font-weight: 300;
    }

    a {
        font-size: 1rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
}