$content-height: calc(100vh - 240px);
$panel-height: calc(100% - 240px);
$panel-width: calc(50% - 30px);

$mobile-panel-height: calc(100% - 140px);
$mobile-portfolio-panel-height: calc(100% - 80px);

.content {
    width: 100vw;
    height: $content-height;
    display: inline-flex;
    align-items: center;

    .panel-padding {
        //padding: 10px;
        //margin: 10px !important;
    }

    .panel {
        color: $white-color;
        background-color: rgba(255, 255, 255, 0.05);
        position: absolute;
        top: 120px;
        z-index: 1;
        height: $panel-height;
        width: $panel-width;

        .panel-shape {
            position: absolute;
            width: 0;
            z-index: 2;
        }
    }

    .home-panel {
        background-color: transparent;
        text-align: center;
        width: 0;
        height: 0;
        display: flex;
        align-items: center;
        position: relative;
        top: 20px;
        margin: 0 auto;
        color: $white-color;
        z-index: 1;
        overflow: hidden;
        box-shadow: 0 0 5px 3px white;

        &.loaded {
            width: 50%;
            height: 100%;
            box-shadow: none;
            transition-property: width, height, box-shadow;
            transition-duration: .25s, .5s, .25s;
            transition-delay: 0s, .25s, .25s;
            transition-timing-function: linear;
        }

        .panel-heading {
            display: none;
        }

        h1 {
            text-transform: uppercase;
        }

        * {
            display: inline;
        }
    }

    .portfolio-panel {
        color: $white-color;
        background-color: rgba(255, 255, 255, 0.05);
        width: 0;
        height: 0;
        position: relative;
        top: 20px;
        z-index: 1;
        overflow: hidden;
        box-shadow: 0 0 5px 3px white;
        margin: auto;

        &.loaded {
            width: 100%;
            height: 100%;
            box-shadow: none;
            transition-property: width, height, box-shadow;
            transition-duration: .25s, .5s, .25s;
            transition-delay: 0s, .25s, .25s;
            transition-timing-function: linear;
        }
    }

    .left-panel {
        left: calc(-50% - 50px);

        &.loaded {
            left: 0;
            transition-duration: .5s;
        }

        .panel-shape {
            left: 100%;
            border-right: 60px solid rgba(255, 255, 255, 0.05);
            transform: rotate(180deg);
        }

        .panel-shape-1 {
            top: 0;
            border-top: 50px solid transparent;
            height: calc(20% - 25px);
        }

        .panel-shape-2 {
            top: calc(40% - 25px);
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            height: calc(20% - 50px);
        }

        .panel-shape-3 {
            bottom: 0;
            border-bottom: 50px solid transparent;
            height: calc(20% - 25px);
        }
    }

    .right-panel {
        right: calc(-50% - 50px);

        &.loaded {
            right: 0;
            transition-duration: .5s;
        }

        .panel-shape {
            right: 100%;
            border-left: 60px solid rgba(255, 255, 255, 0.05);
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            transform: rotate(180deg);
        }

        .panel-shape-1 {
            top: calc(20% - 25px);
            height: calc(20% - 50px);
        }

        .panel-shape-2 {
            top: calc(60% - 25px);
            height: calc(20% - 50px);
        }

        .panel-shape-3 {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        height: calc(100% - 60px);

        .panel {
            top: 70px;
            height: $mobile-panel-height;
        }

        .home-panel {
            &.loaded {
                width: 95% !important;
            }
        }

        .portfolio-panel {
            top: -20px !important;

            &.loaded {
                height: $mobile-portfolio-panel-height !important;
            }
        }
    }
}