.footer {
    width: 100vw;
    height: 100px;
    display: inline-flex;
    align-items: center;
    background: rgb(255, 255, 255);
    color: black;

    h5 {
        color: black ;
        position: relative;
        z-index: 1;
        margin: auto;
    }

    @media screen and (max-width: 768px) {
        height: 50px;

        .footer-shape {
            bottom: 50px;
            width: 100px;
        }
    }
};