.footer {
    position: fixed;
    bottom: 0;
    right: 10%;
    width: 220px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    z-index: 5;

    h5 {
        color: $white-color;
        position: relative;
        z-index: 1;
        margin: auto;
    }

    @media screen and (max-width: 768px) {
        height: 50px;

        .footer-shape {
            bottom: 50px;
            width: 100px;
        }
    }
};