.navigation {
    width: 96px;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 10;

    .logo-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 96px;
        padding: 4px;
        background-color: black;
        box-sizing: border-box;

        .menu-logo {
            max-width: 94px;
        }
    }

    .main-menu {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        width: 100%;
        box-sizing: border-box;

        .menu-link {
            width: 100%;
            height: 40px;
            cursor: pointer;
            padding-top: 10px;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            text-align: center;
            background-color: black;

            &:hover, &.active {
                .bubble {
                    top: -1rem;
                }

                .bubble-1 {
                    transition-duration: .8s;
                }

                .bubble-2 {
                    transition-duration: .5s;
                }

                .bubble-3 {
                    transition-duration: 1s;
                }
            }

            .bubble {
                position: absolute;
                top: 4rem;
                background: $gradient;
                border-radius: 50%;
                transition-duration: 0.5s;
            }

            .bubble-1 {
                width: 5rem;
                height: 5rem;
                left: -1rem;
            }

            .bubble-2 {
                width: 8rem;
                height: 8rem;
                left: 2rem;
            }

            .bubble-3 {
                width: 6rem;
                height: 6rem;
                right: -1rem;
            }

            .link-content {
                color: $white-color;
                display: block;
                position: relative;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        width: 32px;

        .logo-container {
            width: 32px;
            height: 32px;

            .menu-logo {
                max-width: 24px;
            }
        }

        .main-menu {
            .menu-link {
                height: 32px;
            }
        }
    }
}