.page-decoration {
    position: fixed;
    display: block;
    width: 100vw;
    right: 0;

    &.first {
        z-index: 3;
    }

    &.second {
        z-index: 2;
    }

    &.third {
        z-index: 1;
    }

    &.fourth {
        z-index: 1;
    }

    &.fifth {
        z-index: 2;
    }

    &.sixth {
        z-index: 3;
    }
}

@media screen and (max-width: 1300px) {
    .page-decoration {
        &.first {
            top: -20px;
        }

        &.second {
            top: -10px;
        }

        &.third {
            top: 0;
        }

        &.fourth {
            bottom: 0;
        }

        &.fifth {
            bottom: -10px;
        }

        &.sixth {
            bottom: -20px;
        }
    }
}

@media screen and (orientation: landscape) {
    .page-decoration {
        &.first {
            top: -80px;
        }

        &.second {
            top: -70px;
        }

        &.third {
            top: -60px;
        }

        &.fourth {
            bottom: -70px;
        }

        &.fifth {
            bottom: -80px;
        }

        &.sixth {
            bottom: -90px;
        }
    }
}