.page-indicator {
    width: 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;

    .page-indicator-shape {
        width: 24px;
        height: 24px;
        margin: 16px 0;
        background: $white-color;
        border-radius: 50%;
        transition-duration: .5s;

        &.active {
            background: $gradient;
            border: 3px solid $white-color;
        }
    }
}

@media screen and (max-width: 768px) {
    .page-indicator {
        width: 32px;

        .page-indicator-shape {
            width: 12px;
            height: 12px;
            margin: 8px 0;

            &.active {
                max-width: 24px;
            }
        }
    }
}